$main-color: #999999;
$main-dark-color: #333333;
$ascent-color: #ffe6ff;
$light-blue: #ffe6cc;
$blue: #ffa64d;
$dark-blue: #ff8000;
$font-color: #292929;

body {
  background: $main-color;
  color: $font-color;
}
input {
  height: 40px;
  font-size: 16px;
  background: $light-blue;
  border-radius: 5px;
  color: $font-color;
  border: 1px solid $blue;
  &:focus {
    box-shadow: 0 0 2pt 1pt $ascent-color;
  }
}

.results-container {
  font-size: 1.5rem;
  width: 100vw;
  min-height: 90vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}
.results-list,
.results-added-names {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.results-list {
  margin-left: 50px;
  & > div {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
    margin: 10px 3px 3px 10px;
    &:hover {
      color: $light-blue;
    }
  }
}
.results-added-names {
  margin-right: 50px;
  & > div {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    color: $blue;
    margin: 10px 3px 3px 10px;
    cursor: pointer;
    &:hover {
      color: $light-blue;
    }
  }
}
